/* Soluzione qui */
@media screen and (min-width: 576px){
    img {
        float:right;
    }
    .btn {
        width: 5rem;
        height: 5rem;
        font-size: x-large;
    }
}
@media screen and (min-width: 769px) {
    #topbar {
        justify-content: unset;
    }
    .recipe-name{
        font-size: xx-large;
    }
    body{
        padding: 3rem;
    }
    .recipe-origin{
        display: block;
    }
    .btn {
        width: 5rem;
        height: 5rem;
        font-size: x-large;
    }
    .ads{
        display: block;
    }
     .recipe-card{
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        justify-content: center;
    }
    
}
@media screen and (min-width: 992px) {
    .recipe-name{
        font-size: xxx-large;
    }
    .social-networks .label{
        display:block;
        font-size: x-small;
    }
    footer{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    p {
        display: flex;
        flex-direction: column;
    }
    .recipe-card{
        display: block;
    }
}